<div>
  <div>
    <div>
      欢迎登陆
      <div>
        <div>
          <form action="/userHome" method="get">
            <div>
              <label>用户名：</label>
              <input type="text" name="userName" placeholder="请输入用户名">
            </div>
            <div>
              <label>密码：</label>
              <input type="text" name="password" placeholder="请输入密码">
            </div>
          <input type="submit" value="登陆" id="login">
          </form>

          <form action="/register" method="get">
            <input type="submit" value="注册" id="register">
          </form>

        </div>
      </div>
    </div>
  </div>
</div>