<html>
    <head>
      <meta charset="UTF-8">
      <script type="text/javascript" src="lib/jquery-2.1.1/jquery-2.1.1.js"></script>
      <script type="text/javascript" src="js/index.js"></script>
      <script type="text/javascript" src="js/product.js"></script>

      <title>liurong two mysql</title>
    </head>

    <body>
        <%= yield %>
    </body>

</html>