<div>
  <div>
    <div>欢迎注册</div>
    <div>
      <form action="register" method="post">
          <div>
            <label>用户名：</label>
            <input type="text" name="userName" placeholder="请输入密码">
          </div>
          <div>
            <label>密码：</label>
            <input type="password" name="password" placeholder="请输入密码">
          </div>
          <div>
            <label>姓名：</label>
            <input type="text" name="name" placeholder="请输入姓名">
          </div>
          <div>
            <label>邮箱：</label>
            <input type="email" name="email" placeholder="请输入邮箱">
          </div>
          <div>
            <label>家庭住址：</label>
            <input type="text" name="address" placeholder="请输入家庭住址">
          </div>
          <div>
            <input type="submit" value="注册">
            <input type="reset" value="重置">
          </div>
      </form>
    </div>
  </div>
</div>