.todo__body {
  width: 370px;
  margin: 10px auto;
  background-color: rgba(172, 203, 208, 0.22);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px #CBD5D6;

  h1 {
    text-align: center;
    padding: 15px;
  }
}

.todo__input {
  width: 90%;
  height: 35px;
  padding: 0 10px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  font-size: 15px;

  &:focus {
    outline: none;
    box-shadow: 0 0 4px #3f97ab;
    border-color: #559fa7;
  }
}

.todo__button {
  background-color: #3f97ab;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  width: 90%;
  cursor: pointer;

  &:hover {
    background-color: #559fa7;
  }
}

.todo__delete {
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
}

.todo__ul {
  padding: 0 15px 15px;

  .todo__li {
    display: block;
    padding: 10px;
    background-color: #A5CAD2;
    unicode-bidi: bidi-override;
    margin: 10px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: #C8D0D2;
    }
  }
}
