<html>
    <head>
      <meta charset = "UTF-8"/>
      <link rel="stylesheet" href="lib/bootstrap-3.3.5/dist/css/bootstrap.css" type="text/css">
      <title>统一建模测试</title>

    </head>

    <body>
        <%= yield %>
    </body>
</html>